[submodule "Docker"]
	path = Docker
	url = https://github.com/aditya-7797/hospital-management-docker.git
[submodule "Advanced PHP"]
	path = Advanced PHP
	url = https://github.com/aditya-7797/ecom_app_php.git
[submodule "PHP-unit-testing"]
	path = PHP-unit-testing
	url = https://github.com/aditya-7797/php-unit-testing.git
[submodule "JS-Project"]
	path = JS-Project
	url = https://github.com/aditya-7797/js-project.git
