[submodule "Docker"]
	path = Docker
	url = https://github.com/aditya-7797/hospital-management-docker.git
[submodule "Advanced PHP"]
	path = Advanced PHP
	url = https://github.com/aditya-7797/ecom_app_php.git
